@font-face {
  font-family: 'LeferiPoint-BlackA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Arita-dotum-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSerifKR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

/* ------------------------------------------ */

.home_about_container,
.about_container,
.inactive_about_container {
  display: flex;
  width: calc(25%);
  height: 100vh;
  color: #f9f9f9;
  background: rgb(33, 33, 33);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: width 0.75s ease;
}

/* ------------------------------------------ */

.home_about_container {
  min-width: calc(2.5%);
}

.home_about_container:hover {
  cursor: pointer;
}

.home_about_container:hover .home_about_title {
  font-size: 2.1em;
  transition: all 0.1s ease-in-out;
}

.about_line01 {
  opacity: 0.3;
  display: inline-block;
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  top: 0;
  left: 0;
  transition: width 0.3s ease;
}

.home_about_container:hover .about_line01 {
  width: 100%;
  transition: width 0.3s ease;
}

.about_line02 {
  opacity: 0.3;
  display: inline-block;
  position: absolute;
  width: 2px;
  height: 0;
  background-color: #ffffff;
  bottom: 0;
  right: 0;
  transition: height 0.3s ease;
}

.home_about_container:hover .about_line02 {
  height: 100%;
  transition: height 0.3s ease;
}

.about_line03 {
  opacity: 0.3;
  display: inline-block;
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  bottom: 0;
  right: 0;
  transition: width 0.3s ease;
}

.home_about_container:hover .about_line03 {
  width: 100%;
  transition: width 0.3s ease;
}

.about_line04 {
  opacity: 0.3;
  display: inline-block;
  position: absolute;
  width: 2px;
  height: 0;
  background-color: #ffffff;
  top: 0;
  left: 0;
  transition: height 0.3s ease;
}

.home_about_container:hover .about_line04 {
  height: 100%;
  transition: height 0.3s ease;
}

.home_about_box {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 93%;
  height: 97.7%;
}

.home_about_contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation-name: fade-in;
  animation-delay: 0.3s;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

.home_about_break_line {
  width: 1.5em;
  margin: 1.25em 0 1.25em 0;
  border-bottom: 1px solid #f9f9f9;
}

.home_about_title {
  font-size: 1.8em;
  font-family: 'LeferiPoint-BlackA';
  transition: all 0.1s ease-in-out;
}

/* ------------------------------------------ */

.about_container {
  width: calc(100%);
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  transition: width 0.75s ease;
}

.about_container::-webkit-scrollbar {
  width: 5px;
}

.about_container::-webkit-scrollbar-thumb {
  width: 1px;
  background-color: rgb(80, 80, 80);
  border-radius: 10px;
}

.about_box {
  display: flex;
  width: 100%;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  opacity: 0;
  animation-name: fade-in;
  animation-delay: 0.85s;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  color: rgb(240, 240, 240);
  gap: 120px;
  margin-bottom: 100px;
  /* color: black; */
  /* background-color: white; */
  /* border: 1px solid black; */
}

/* QUOTES */

.about_quotes_box {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 70px;
  margin-bottom: 100px;
}

.about_quotes_eng {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  font-family: 'NotoSerifKR';
}

.about_quotes_blink {
  animation: blink 0.8s infinite;
  font-family: 'Pretendard-Regular';
  font-size: 47px;
  margin: 0 -5px 0 -5px;
}

.about_quotes_eng_title {
  position: relative;
  font-size: 38px;
  font-weight: bold;
  width: 875px;
  /* background-color: red; */
  margin-left: 15px;
}

.about_quotes_emphasis_line01 {
  position: absolute;
  opacity: 0;
  left: 625px;
  bottom: -6px;
  /* width: 205px; */
  border: 0.5px solid white;
  animation-name: line;
  animation-delay: 6.5s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.about_quotes_emphasis_line02 {
  position: absolute;
  opacity: 0;
  left: 625px;
  bottom: -2px;
  /* width: 205px; */
  border: 0.5px solid white;
  animation-name: line;
  animation-delay: 6.5s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.about_quotes_eng_name {
  font-size: 25px;
  font-style: italic;
}

.about_quotes_kor {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-family: 'NotoSerifKR';
  animation-name: fade-in;
  animation-delay: 8.4s;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

.about_quotes_kor_title {
  opacity: 0;
  font-size: 25px;
  animation-name: fade-in;
  animation-delay: 7.4s;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

.about_quotes_kor_name {
  font-size: 17px;
  font-style: italic;
}

.about_quotes_scroll {
  opacity: 0;
  display: flex;
  position: absolute;
  justify-content: center;
  width: 200px;
  height: 200px;
  /* background-color: red; */
  bottom: 0;
  animation-name: fade-in;
  animation-delay: 9.4s;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

.about_quotes_scroll_content {
  position: absolute;
  bottom: 75px;
  font-family: 'Pretendard-Regular';
  font-size: 15px;
}

.about_quotes_scroll_direction {
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  border-bottom: 40px solid transparent;
  border-top: 17px solid rgb(240, 240, 240);
  border-left: 26px solid transparent;
  border-right: 26px solid transparent;
  animation: scroll-guide 1s infinite;
}

/* INTRODUCTION */

.about_introduction_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 60px 0 60px 0;
  /* background-color: rgb(189, 189, 189);
  border: 1px solid black; */
}

.about_introduction_title {
  display: flex;
  justify-content: flex-start;
  width: 870px;
  font-family: 'Tilt Warp';
  font-size: 45px;
}

.about_introduction_box {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 800px;
  height: 400px;
  gap: 25px;
  font-family: 'Pretendard-Regular';
  margin: 50px 0 40px 0;
  /* background-color: rgb(34, 44, 78); */
  /* border: 1px solid black; */
}

.about_introduction_header {
  font-family: 'NotoSerifKR';
  font-size: 30px;
  margin: 10px auto;
}

.about_introduction_bold {
  font-weight: bold;
}

.about_introduction_content {
  font-family: 'Pretendard-Regular';
  line-height: 37px;
  width: 665px;
  /* background-color: red; */
  margin: auto;
}

/* PROFILE */

.about_profile_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 60px 0 60px 0;
  /* background-color: rgb(189, 189, 189);
  border: 1px solid black; */
}

.about_profile_title {
  display: flex;
  justify-content: flex-start;
  width: 870px;
  font-family: 'Tilt Warp';
  font-size: 45px;
}

.about_profile_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 25px;
  font-family: 'Pretendard-Regular';
  margin: 50px 0 40px 0;
  /* background-color: rgb(104, 134, 230); */
  /* border: 1px solid black; */
}

.about_profile_item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 800px;
  gap: 110px;
  /* background-color: rgb(94, 94, 94); */
}

.about_profile_name {
  width: 270px;
  /* background-color: red; */
}

/* EDUCATION */

.about_education_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 60px 0 60px 0;
  /* background-color: rgb(189, 189, 189);
  border: 1px solid black; */
}

.about_education_title {
  display: flex;
  justify-content: flex-start;
  width: 870px;
  font-family: 'Tilt Warp';
  font-size: 45px;
}

.about_education_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 40px;
  font-family: 'Pretendard-Regular';
  margin: 50px 0 40px 0;
  /* background-color: red;
  border: 1px solid black; */
}

.about_education_item {
  display: flex;
  align-items: center;
  width: 800px;
  /* background-color: rgb(94, 94, 94); */
}

.about_education_name {
  width: 320px;
  margin-right: 20px;
}

.about_education_date {
  display: flex;
  width: 280px;
  justify-content: flex-end;
}

/* CERTIFICATION */

.about_certification_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 60px 0 60px 0;
  /* background-color: rgb(189, 189, 189);
  border: 1px solid black; */
}

.about_certification_title {
  display: flex;
  justify-content: flex-start;
  width: 870px;
  font-family: 'Tilt Warp';
  font-size: 45px;
}

.about_certification_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 40px;
  font-family: 'Pretendard-Regular';
  margin: 50px 0 40px 0;
  /* background-color: red;
  border: 1px solid black; */
}

.about_certification_item {
  display: flex;
  align-items: center;
  width: 800px;
  /* background-color: rgb(94, 94, 94); */
}

.about_certification_name {
  width: 280px;
  margin-right: 20px;
}

.about_certification_date {
  display: flex;
  width: 130px;
  justify-content: flex-end;
}

/* OTHER */

.about_other_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 60px 0 60px 0;
  /* background-color: rgb(189, 189, 189);
  border: 1px solid black; */
}

.about_other_title {
  display: flex;
  justify-content: flex-start;
  width: 870px;
  font-family: 'Tilt Warp';
  font-size: 45px;
}

.about_other_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 40px;
  font-family: 'Pretendard-Regular';
  margin: 50px 0 40px 0;
  /* background-color: red;
  border: 1px solid black; */
}

.about_other_item {
  display: flex;
  align-items: center;
  width: 800px;
  /* background-color: rgb(94, 94, 94); */
}

.about_other_name {
  width: 320px;
  margin-right: 20px;
}

.about_other_date {
  display: flex;
  width: 280px;
  justify-content: flex-end;
}

.about_extention_line {
  display: flex;
  width: 100%;
  height: 0;
  border: 0.5px solid rgb(240, 240, 240);
}

.about_item_detail {
  font-size: 14px;
}

/* ------------------------------------------ */

.inactive_about_container {
  display: flex;
  justify-content: flex-start;
  width: calc(2.5%);
  height: 100vh;
  transition: width 0.5s ease;
}

.inactive_about_container:hover {
  cursor: pointer;
  width: calc(3.5%);
  transition: width 0.5s ease;
}

.inactive_about_title {
  transform: rotate(90deg);
  margin-top: 3.25em;
  width: 6em;
  font-family: 'Arita-dotum-Medium';
  font-size: 1em;
  opacity: 0;
  animation-name: fade-in;
  animation-delay: 0.75s;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

/* ------------------------------------------ */

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

@keyframes line {
  from {
    width: 0;
  }
  to {
    width: 204px;
  }

  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scroll-guide {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 5px;
  }
  100% {
    bottom: 0;
  }
}
