@font-face {
  font-family: 'LeferiPoint-BlackA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Arita-dotum-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothicA1-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GothicA1-Bold.woff2')
    format('woff2');
  font-style: normal;
}

/* ------------------------------------------ */

.home_skill_container,
.inactive_skill_container {
  display: flex;
  width: calc(25%);
  height: 100vh;
  color: #f9f9f9;
  background: rgb(41, 41, 41);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: width 0.75s ease;
}

/* ------------------------------------------ */

.home_skill_container {
  min-width: calc(2.5%);
}

.home_skill_container:hover {
  cursor: pointer;
}

.home_skill_container:hover .home_skill_title {
  font-size: 2.1em;
  transition: all 0.1s ease-in-out;
}

.skill_line01 {
  opacity: 0.35;
  display: inline-block;
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  top: 0;
  left: 0;
  transition: width 0.3s ease;
}

.home_skill_container:hover .skill_line01 {
  width: 100%;
  transition: width 0.3s ease;
}

.skill_line02 {
  opacity: 0.35;
  display: inline-block;
  position: absolute;
  width: 2px;
  height: 0;
  background-color: #ffffff;
  bottom: 0;
  right: 0;
  transition: height 0.3s ease;
}

.home_skill_container:hover .skill_line02 {
  height: 100%;
  transition: height 0.3s ease;
}

.skill_line03 {
  opacity: 0.35;
  display: inline-block;
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  bottom: 0;
  right: 0;
  transition: width 0.3s ease;
}

.home_skill_container:hover .skill_line03 {
  width: 100%;
  transition: width 0.3s ease;
}

.skill_line04 {
  opacity: 0.35;
  display: inline-block;
  position: absolute;
  width: 2px;
  height: 0;
  background-color: #ffffff;
  top: 0;
  left: 0;
  transition: height 0.3s ease;
}

.home_skill_container:hover .skill_line04 {
  height: 100%;
  transition: height 0.3s ease;
}

.home_skill_box {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 93%;
  height: 97.7%;
}

.home_skill_contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation-name: fade-in;
  animation-delay: 0.3s;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

.home_skill_break_line {
  width: 1.5em;
  margin: 1.25em 0 1.25em 0;
  border-bottom: 1px solid #f9f9f9;
}

.home_skill_title {
  font-size: 1.8em;
  font-family: 'LeferiPoint-BlackA';
  transition: all 0.1s ease-in-out;
}

/* ------------------------------------------ */

.skill_container {
  display: flex;
  position: relative;
  width: calc(100%);
  height: 100vh;
  color: #f9f9f9;
  background: rgb(41, 41, 41);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: width 0.75s ease;
}

.skill_title {
  display: flex;
  position: absolute;
  font-family: 'LeferiPoint-BlackA';
  font-size: 3em;
  top: 0.75em;
  left: 1em;
  width: 100%;
}

.skill_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 35px;
  width: 0;
  height: 100vh;
  opacity: 0;
  animation-name: fade-in-skill-box;
  animation-delay: 0.75s;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  margin-top: 6em;
}

.skill_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill_item_title {
  display: flex;
  font-family: 'GothicA1-Bold';
  font-size: 1.75em;
}

.skill_ul_type1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 19vw;
  min-width: 17em;
  height: 600px;
  opacity: 0.9;
  background: white;
  border-radius: 0.75em;
  margin-top: 0.6em;
}

.skill_fe_li {
  display: flex;
  width: 14.25em;
  align-items: center;
  justify-content: space-between;
  margin: 0.75em 0 0.75em 0;
}

.skill_fe_html {
  width: 95px;
  margin-left: 2.5px;
}

.skill_fe_css {
  width: 95px;
  margin-right: 2.5px;
}

.skill_fe_javascript {
  width: 100px;
}

.skill_fe_typescript {
  width: 100px;
}

.skill_fe_react {
  width: 100px;
}

.skill_fe_redux {
  width: 100px;
}

.skill_fe_nextjs {
  width: 100px;
  filter: invert(99%) hue-rotate(324deg) brightness(330%) contrast(200%);
}

.skill_fe_styled-components {
  width: 100px;
}

.skill_ul_type2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 19vw;
  min-width: 17em;
  height: 265px;
  background: white;
  opacity: 0.9;
  border-radius: 0.75em;
  margin-top: 0.6em;
}

.skill_be_li {
  display: flex;
  width: 13.5em;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 0.75em 0 0.75em 0;
}

.skill_be_mysql {
  width: 80px;
  margin: 0 10px 0 10px;
}

.skill_be_jwt {
  width: 100px;
}

.skill_be_nodejs {
  width: 170px;
  margin-bottom: 17.5px;
}

.space_between {
  height: 25px;
}

.skill_dep_li {
  display: flex;
  width: 13.5em;
  align-items: center;
  justify-content: center;
  margin: 0.75em 0 0.75em 0;
}

.skill_dep_aws {
  width: 190px;
}

.skill_dep_vercel {
  width: 210px;
}

.skill_com_li {
  display: flex;
  width: 13.5em;
  align-items: center;
  justify-content: center;
  margin: 0.75em 0 0.75em 0;
}

.skill_com_git {
  width: 150px;
  margin-top: 20px;
}

.skill_com_figma {
  width: 180px;
}

.skill_tool_li {
  display: flex;
  width: 13.5em;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 0.75em 0 0.75em 0;
}

.skill_tool_word {
  width: 75px;
}

.skill_tool_excel {
  width: 75px;
}

.skill_tool_powerpoint {
  width: 75px;
}

.skill_tool_access {
  width: 75px;
}

/* ------------------------------------------ */

.inactive_skill_container {
  display: flex;
  justify-content: flex-start;
  width: calc(2.5%);
  height: 100vh;
  transition: width 0.5s ease;
}

.inactive_skill_container:hover {
  cursor: pointer;
  width: calc(3.5%);
  transition: width 0.5s ease;
}

.inactive_skill_title {
  transform: rotate(90deg);
  margin-top: 3.25em;
  width: 6em;
  font-family: 'Arita-dotum-Medium';
  font-size: 1em;
  opacity: 0;
  animation-name: fade-in;
  animation-delay: 0.75s;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

/* ------------------------------------------ */

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-skill-box {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}
