@font-face {
  font-family: 'LeferiPoint-BlackA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Arita-dotum-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OAGothic-ExtraBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/OAGothic-ExtraBold.woff2')
    format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GangwonEduPowerExtraBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.otf')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

/* ------------------------------------------ */

.home_work_container,
.work_container,
.inactive_work_container {
  display: flex;
  width: calc(25%);
  height: 100vh;
  color: #f9f9f9;
  background: rgb(49, 49, 49);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: width 0.75s ease;
}

/* ------------------------------------------ */

.home_work_container {
  min-width: calc(2.5%);
}

.home_work_container:hover {
  cursor: pointer;
}

.home_work_container:hover .home_work_title {
  font-size: 2.1em;
  transition: all 0.1s ease-in-out;
}

.work_line01 {
  opacity: 0.45;
  display: inline-block;
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  top: 0;
  left: 0;
  transition: width 0.3s ease;
}

.home_work_container:hover .work_line01 {
  width: 100%;
  transition: width 0.3s ease;
}

.work_line02 {
  opacity: 0.45;
  display: inline-block;
  position: absolute;
  width: 2px;
  height: 0;
  background-color: #ffffff;
  bottom: 0;
  right: 0;
  transition: height 0.3s ease;
}

.home_work_container:hover .work_line02 {
  height: 100%;
  transition: height 0.3s ease;
}

.work_line03 {
  opacity: 0.45;
  display: inline-block;
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  bottom: 0;
  right: 0;
  transition: width 0.3s ease;
}

.home_work_container:hover .work_line03 {
  width: 100%;
  transition: width 0.3s ease;
}

.work_line04 {
  opacity: 0.45;
  display: inline-block;
  position: absolute;
  width: 2px;
  height: 0;
  background-color: #ffffff;
  top: 0;
  left: 0;
  transition: height 0.3s ease;
}

.home_work_container:hover .work_line04 {
  height: 100%;
  transition: height 0.3s ease;
}

.home_work_box {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 93%;
  height: 97.7%;
}

.home_work_contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation-name: fade-in;
  animation-delay: 0.3s;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

.home_work_break_line {
  width: 1.5em;
  margin: 1.25em 0 1.25em 0;
  border-bottom: 1px solid #f9f9f9;
}

.home_work_title {
  font-size: 1.8em;
  font-family: 'LeferiPoint-BlackA';
  transition: all 0.1s ease-in-out;
}

/* ------------------------------------------ */

.work_container {
  width: calc(100%);
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
}

.work_container::-webkit-scrollbar {
  width: 5px;
}

.work_container::-webkit-scrollbar-thumb {
  width: 1px;
  background-color: rgb(80, 80, 80);
  border-radius: 10px;
}

.work_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  gap: 30px;
  animation-name: fade-in;
  animation-delay: 0.85s;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  padding-top: 30px;
  margin-bottom: 30px;
  color: black;
}

.work_item {
  display: flex;
  flex-direction: row;
  width: 950px;
  height: 680px;
  /* gap: 5px; */
  background: rgb(240, 240, 240);
  border-radius: 12px;
  box-shadow: 0 5px 15px rgb(31, 31, 31), 0 2px 15px rgb(31, 31, 31);
}

.work_screen_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  padding-left: 30px;
  /* border: solid 1px black; */
  gap: 20px;
}

.work_image {
  display: flex;
  align-items: center;
  position: relative;
  width: 360px;
  height: 402.5px;
  border: solid 1px black;
}

.work_image_prev,
.work_image_next {
  display: flex;
  font-size: 40px;
  opacity: 0.8;
  color: white;
  padding: 10px;
  margin: 3px;
  position: absolute;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.work_image_next {
  right: 0;
}

.work_image_prev:hover,
.work_image_next:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease;
}

.work_image_page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 35px;
  /* border: solid 1px black; */
  gap: 10px;
}

.work_image_page_prev:hover,
.work_image_page_next:hover {
  cursor: pointer;
}

.work_script_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 520px;
  /* border: solid 1px black; */
  gap: 15px;
}

.work_script_title {
  display: flex;
  flex-direction: row;
  font-family: 'Tilt Warp';
  font-size: 55px;
  align-items: center;
  height: 60px;
  /* border: solid 1px black; */
  padding-left: 20px;
}

.work_script_content {
  display: flex;
  align-items: center;
  font-family: 'Pretendard-Regular';
  height: 270px;
  /* border: solid 1px black; */
  padding-left: 20px;
}

.work_detail_container {
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
  font-family: 'Pretendard-Regular';
  height: 200px;
  /* border: solid 1px black; */
  gap: 5px;
}

.work_detail_box_01 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 270px;
  gap: 15px;
  /* border: solid 1px black; */
}

.work_detail_box_02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  gap: 15px;
  /* border: solid 1px black; */
}

.work_detail_item {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.work_detail_item_title {
  display: flex;
  padding-left: 10px;
}

.work_detail_item_content {
  display: flex;
  font-size: 15px;
  padding-left: 15px;
}

.work_detail_item_content_bold {
  font-weight: bold;
}

/* ------------------------------------------ */

.inactive_work_container {
  display: flex;
  justify-content: flex-start;
  width: calc(2.5%);
  height: 100vh;
  transition: width 0.5s ease;
}

.inactive_work_container:hover {
  cursor: pointer;
  width: calc(3.5%);
  transition: width 0.5s ease;
}

.inactive_work_title {
  transform: rotate(90deg);
  margin-top: 3.25em;
  width: 6em;
  font-family: 'Arita-dotum-Medium';
  font-size: 1em;
  opacity: 0;
  animation-name: fade-in;
  animation-delay: 0.75s;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

/* ------------------------------------------ */

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ------------------------------------------ */

@media (min-width: 1600px) {
  .work_item {
    width: 1040px;
    gap: 30px;
  }

  .work_screen_box {
    width: 420px;
    padding-left: 50px;
  }

  /* .work_image {
    width: 380px;
  }

  .work_image_page {
    width: 380px;
  } */
}
