@font-face {
  font-family: 'LeferiPoint-BlackA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Arita-dotum-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

/* ------------------------------------------ */

.home_work_container,
.work_container,
.inactive_work_container {
  display: flex;
  width: calc(25%);
  height: 100vh;
  color: #f9f9f9;
  background: rgb(49, 49, 49);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: width 0.75s ease-in-out;
}

.work_container {
  width: calc(100%);
}

.inactive_work_container {
  display: flex;
  justify-content: flex-start;
  width: 2.5%;
  height: 100vh;
}

.inactive_work_container:hover {
  cursor: pointer;
  width: 3.5%;
  transition: width 0.75s ease-in-out;
}

.inactive_work_title {
  transform: rotate(90deg);
  margin-top: 3.25em;
  width: 6em;
  font-family: 'Arita-dotum-Medium';
  font-size: 1em;
  opacity: 0;
  animation-name: fade-in;
  animation-delay: 0.75s;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

.home_work_container:hover {
  cursor: pointer;
}

.home_work_container:hover .home_work_title {
  font-size: 2.1em;
  transition: all 0.1s ease-in-out;
}

.home_work_break_line {
  width: 1.5em;
  margin: 1.25em 0 1.25em 0;
  border-bottom: 1px solid #f9f9f9;
}

.home_work_title {
  font-size: 1.8em;
  font-family: 'LeferiPoint-BlackA';
  transition: all 0.1s ease-in-out;
}

/* ------------------------------------------ */

.work_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  animation-name: fade-in;
  animation-delay: 0.85s;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

.work_break_line {
  width: 1.5em;
  margin: 1.25em 0 1.25em 0;
  border-bottom: 1px solid #f9f9f9;
}

.work_title {
  font-size: 1.8em;
  font-family: 'LeferiPoint-BlackA';
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
