@font-face {
  font-family: 'LeferiPoint-BlackA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
}

/* ------------------------------------------ */

.home_work_container,
.work_container,
.inactive_work_container {
  display: flex;
  width: calc(25%);
  height: 100vh;
  color: #f9f9f9;
  background: rgb(46, 46, 46);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: width 0.75s ease;
}

.work_container {
  width: calc(100%);
}

.inactive_work_container {
  width: 0;
}

.home_work_container:hover {
  cursor: pointer;
}

.home_work_container:hover .home_work_title {
  font-size: 2.1em;
  transition: all 0.1s ease-in-out;
}

.home_work_break_line {
  width: 1.5em;
  margin: 1.25em 0 1.25em 0;
  border-bottom: 1px solid #f9f9f9;
}

.home_work_title {
  font-size: 1.8em;
  font-family: 'LeferiPoint-BlackA';
  transition: all 0.1s ease-in-out;
}

/* ------------------------------------------ */

.work_container:hover {
  cursor: pointer;
}

.work_break_line {
  width: 1.5em;
  margin: 1.25em 0 1.25em 0;
  border-bottom: 1px solid #f9f9f9;
}

.work_title {
  font-size: 1.8em;
  font-family: 'LeferiPoint-BlackA';
}
