@font-face {
  font-family: 'LeferiPoint-BlackA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Arita-dotum-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

/* ------------------------------------------ */

.home_contact_container,
.inactive_contact_container {
  display: flex;
  width: calc(25%);
  height: 100vh;
  color: #f9f9f9;
  background: rgb(57, 57, 57);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: width 0.75s ease;
}

/* ------------------------------------------ */

.home_contact_container {
  min-width: calc(2.5%);
}

.home_contact_container:hover {
  cursor: pointer;
}

.home_contact_container:hover .home_contact_title {
  font-size: 2.1em;
  transition: all 0.1s ease-in-out;
}

.contact_line01 {
  opacity: 0.45;
  display: inline-block;
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  top: 0;
  left: 0;
  transition: width 0.3s ease;
}

.home_contact_container:hover .contact_line01 {
  width: 100%;
  transition: width 0.3s ease;
}

.contact_line02 {
  opacity: 0.45;
  display: inline-block;
  position: absolute;
  width: 2px;
  height: 0;
  background-color: #ffffff;
  bottom: 0;
  right: 0;
  transition: height 0.3s ease;
}

.home_contact_container:hover .contact_line02 {
  height: 100%;
  transition: height 0.3s ease;
}

.contact_line03 {
  opacity: 0.45;
  display: inline-block;
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  bottom: 0;
  right: 0;
  transition: width 0.3s ease;
}

.home_contact_container:hover .contact_line03 {
  width: 100%;
  transition: width 0.3s ease;
}

.contact_line04 {
  opacity: 0.45;
  display: inline-block;
  position: absolute;
  width: 2px;
  height: 0;
  background-color: #ffffff;
  top: 0;
  left: 0;
  transition: height 0.3s ease;
}

.home_contact_container:hover .contact_line04 {
  height: 100%;
  transition: height 0.3s ease;
}

.home_contact_box {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 93%;
  height: 97.7%;
}

.home_contact_contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation-name: fade-in;
  animation-delay: 0.3s;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

.home_contact_break_line {
  width: 1.5em;
  margin: 1.25em 0 1.25em 0;
  border-bottom: 1px solid #f9f9f9;
}

.home_contact_title {
  font-size: 1.8em;
  font-family: 'LeferiPoint-BlackA';
  transition: all 0.1s ease-in-out;
}

/* ------------------------------------------ */

.contact_container {
  display: flex;
  position: relative;
  width: calc(100%);
  height: 100vh;
  color: #f9f9f9;
  background: rgb(57, 57, 57);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: width 0.75s ease;
}

.contact_title {
  display: flex;
  position: absolute;
  font-family: 'LeferiPoint-BlackA';
  font-size: 3em;
  top: 0.75em;
  left: 1em;
  width: 100%;
}

.contact_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 60vh;
  opacity: 0;
  animation-name: fade-in-contact-box;
  animation-delay: 0.75s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  margin-top: 6em;
}

.contact_form {
  display: flex;
  flex-direction: column;
  width: 27em;
  height: 70vh;
  max-height: 700px;
  justify-content: space-between;
  align-items: center;
}

.contact_name {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 7.5em;
}

.contact_name_box {
  display: flex;
  flex-direction: column;
  height: 2.5em;
  color: white;
  border: none;
  border-bottom: 2px solid white;
  background: rgb(57, 57, 57);
}

.contact_name_box:focus {
  outline: none;
}

.contact_email {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 7.5em;
  margin-top: 1em;
}

.contact_email_box {
  display: flex;
  flex-direction: column;
  height: 2.5em;
  color: white;
  border: none;
  border-bottom: 2px solid white;
  background: rgb(57, 57, 57);
}

.contact_email_box:focus {
  outline: none;
}

.contact_message {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 27.5em;
  margin-top: 1em;
}

.contact_message_box {
  display: flex;
  flex-direction: column;
  resize: none;
  height: 100%;
  margin-top: 1em;
  color: white;
  border: none;
  border: 2px solid white;
  background: rgb(57, 57, 57);
}

.contact_message_box {
  outline: none;
}

.contact_send_button {
  width: 120px;
  height: 65px;
  margin-top: 2.5em;
  font-size: 20px;
  border: none;
}

.contact_send_button:hover {
  cursor: pointer;
}

/* ------------------------------------------ */

.inactive_contact_container {
  display: flex;
  justify-content: flex-start;
  width: calc(2.5%);
  height: 100vh;
  transition: width 0.5s ease;
}

.inactive_contact_container:hover {
  cursor: pointer;
  width: calc(3.5%);
  transition: width 0.5s ease;
}

.inactive_contact_title {
  transform: rotate(90deg);
  margin-top: 3.25em;
  width: 6em;
  font-family: 'Arita-dotum-Medium';
  font-size: 1em;
  opacity: 0;
  animation-name: fade-in;
  animation-delay: 0.75s;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

/* ------------------------------------------ */

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-contact-box {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}
