@font-face {
  font-family: 'LeferiPoint-BlackA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
}

/* ------------------------------------------ */

.home_contact_container,
.contact_container,
.inactive_contact_container {
  display: flex;
  width: calc(25%);
  height: 100vh;
  color: #f9f9f9;
  background: rgb(53, 53, 53);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: width 0.75s ease;
}

.contact_container {
  width: calc(100%);
}

.inactive_contact_container {
  width: 0;
}

.home_contact_container:hover {
  cursor: pointer;
}

.home_contact_container:hover .home_contact_title {
  font-size: 2.1em;
  transition: all 0.1s ease-in-out;
}

.home_contact_break_line {
  width: 1.5em;
  margin: 1.25em 0 1.25em 0;
  border-bottom: 1px solid #f9f9f9;
}

.home_contact_title {
  font-size: 1.8em;
  font-family: 'LeferiPoint-BlackA';
  transition: all 0.1s ease-in-out;
}

/* ------------------------------------------ */

.contact_container:hover {
  cursor: pointer;
}

.contact_break_line {
  width: 1.5em;
  margin: 1.25em 0 1.25em 0;
  border-bottom: 1px solid #f9f9f9;
}

.contact_title {
  font-size: 1.8em;
  font-family: 'LeferiPoint-BlackA';
}
