@font-face {
  font-family: 'LeferiPoint-BlackA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
}

.about_container {
  display: flex;
  width: calc(25%);
  height: 100vh;
  color: #f9f9f9;
  background-color: rgb(30, 30, 30);
  align-items: center;
  justify-content: center;
}

.about_container:hover {
  cursor: pointer;
}

.about_title {
  font-size: 2.5em;
  font-family: 'LeferiPoint-BlackA';
}
