@font-face {
  font-family: 'LeferiPoint-BlackA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
}

.skill_container {
  display: flex;
  width: calc(25%);
  height: 100vh;
  color: #f9f9f9;
  background-color: rgb(40, 40, 40);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.skill_container:hover {
  cursor: pointer;
}

.skill_break_line {
  width: 1.5em;
  margin: 1.25em 0 1.25em 0;
  border-bottom: 1px solid #f9f9f9;
}

.skill_title {
  font-size: 1.8em;
  font-family: 'LeferiPoint-BlackA';
}
