.contact_container {
  display: flex;
  width: 17.5em;
  height: 100vh;
  background-color: rgb(200, 200, 200);
  align-items: center;
  justify-content: center;
}

.contact_title {
  font-size: 2.5em;
}
