/* display, position, flex-direction, align-items, justify-content */
/* width, height, padding, margin, border */
/* background, color, font-size, font-weight */

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.contents_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 6em;
  height: 100%;
  padding-right: 2em;
  background: #191919;
  font-family: 'S-CoreDream-3Light';
  font-size: 1.1em;
}

.contents_box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 65%;
}

.contents_line_dots_container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  height: 100%;
}

.contents_line {
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-direction: column;
  width: 0;
  top: 2%;
  height: 96%;
  min-height: 75px;
  border-left: 0.5px solid #f9f9f9;
  border-right: 0.5px solid #f9f9f9;
}

.contents {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100px;
  padding-right: 90px;
}

.contents:hover {
  cursor: pointer;
}

.contents_title_selected {
  visibility: visible;
  display: flex;
  margin-right: 14px;
  padding-top: 2px;
  color: #f9f9f9;
}

.contents_title_unselected {
  visibility: hidden;
  display: flex;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out;
  margin-right: 14px;
  padding-top: 2px;
  color: #f9f9f9;
}

.contents_dot_selected {
  display: flex;
  /* width: 15.11px; */
  /* height: 15.11px; */
  width: 8px;
  height: 8px;
  background: #f9f9f9;
  border: 1px solid #f9f9f9;
  border-radius: 50%;
  transform-origin: center center;
  transform: scale(1.75);
}

.contents_dot_unselected {
  display: flex;
  width: 8px;
  height: 8px;
  background: #f9f9f9;
  border: 1px solid #f9f9f9;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}

.contents:hover .contents_dot_unselected {
  cursor: pointer;
  transform: scale(1.75);
  transition: 0.3s ease;
}

.contents:hover .contents_title_unselected {
  visibility: visible;
  opacity: 1;
}

.contents:not(:hover) .contents_title_unselected {
  opacity: 0;
  transition: 0.2s ease;
}
