/* display, position, flex-direction, align-items, justify-content */
/* width, height, padding, margin, border */
/* background, color, font-size, font-weight */

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arita-dotum-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.profile_title {
  display: flex;
  position: absolute;
  width: 9.5em;
  height: 3.5em;
  align-items: center;
  justify-content: center;
  background: none;
  font-family: 'Arita-dotum-Medium';
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

.profile_title:hover {
  cursor: pointer;
}

.profile_container {
  display: flex;
  /*  */
  justify-content: center;
  /*  */
  align-items: center;
  width: 17em;
  height: 100vh;
  background: rgb(25, 25, 25);
  color: #f9f9f9;
}

.profile_box {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 2.8em;
}

.profile_image_box {
  margin: 0 0 1em 0;
}

.profile_image {
  display: flex;
  width: 200px;
  border-radius: 50%;
}

.profile_text_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0 1em 0.5em;
  font-family: 'S-CoreDream-3Light';
}

.profile_name_kor {
  font-size: 2.2em;
  font-weight: bold;
}

.profile_name_eng {
  font-size: 1em;
  font-family: 'Arita-dotum-Medium';
}

.profile_job_kor {
  font-size: 1.1em;
}

.profile_job_eng {
  font-size: 1em;
  font-family: 'Arita-dotum-Medium';
}

.profile_break_line {
  width: 2em;
  margin: 1.5em 0 1.5em 0;
  border-bottom: 1px solid #f9f9f9;
}

.profile_icon_box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* width: 7.5em; */
  margin: 1em 0 0 0.5em;
}

.profile_icon_github {
  width: 30px;
  filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(324deg)
    brightness(200%) contrast(100%);
}

.profile_icon_github:hover {
  cursor: pointer;
}

.profile_icon_velog {
  width: 30px;
  filter: invert(1%) sepia(10%) saturate(0%) hue-rotate(324deg) brightness(100%)
    contrast(100%);
}

.profile_icon_velog:hover {
  cursor: pointer;
}

.profile_icon_email {
  width: 31.5px;
  height: 32px;
  margin-left: -2px;
}

.profile_icon_email:hover {
  cursor: pointer;
}
